.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
@media (max-width: 992px) {
  .footer {
    flex-wrap: wrap;
  }
}
.footer-logo {
  flex: 0 0 40%;
}
@media (max-width: 992px) {
  .footer-logo {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}
.footer-nav {
  flex: 0 0 60%;
  display: flex;
  justify-content: space-between;
  color: #f9f6f1;
}
@media (max-width: 992px) {
  .footer-nav {
    flex: 0 0 100%;
  }
}
@media (max-width: 576px) {
  .footer-nav {
    flex-wrap: wrap;
  }
}
.footer-list {
  list-style-type: none;
  padding-left: 0;
}
@media (max-width: 576px) {
  .footer-list {
    flex: 0 0 49%;
    margin-bottom: 20px;
  }
}
.footer-list-title {
  font-size: 10px;
  font-weight: 700;
}
.footer-list-item {
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .footer-list-item {
    margin-bottom: 14px;
  }
}
.footer-list-link {
  color: #cbcfd4;
  text-decoration: none;
  font-size: 14px;
}
@media (max-width: 500px) {
  .footer-list-link {
    font-size: 12px;
  }
}