@charset "UTF-8";
body {
  font-family: "Montserrat", sans-serif;
}

.page {
  padding-top: 100px;
  padding-bottom: 100px;
}
.page-light {
  background-color: #f9f6f1;
}
.page-dark {
  background-color: #671111;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 46px;
  padding-bottom: 26px;
}

.nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
.nav-item {
  margin-left: 52px;
}
.nav-link {
  color: black;
  text-decoration: none;
}
.nav-info .nav-item {
  margin-left: 25px;
  margin-right: 25px;
}

.cart {
  background-image: url(../img/shape_1_15.png);
  padding-left: 45px;
  margin-left: 20px;
  display: block;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 0 center;
}
.cart-count {
  background-image: url(../img/white-arrow-22.png);
  background-repeat: no-repeat;
  background-position: 0 center;
  background-color: #d7b399;
  color: #fff;
  font-size: 12px;
  font-weight: 700px;
  padding: 10px 24px;
  display: block;
}

.title-h2 {
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
}

.btn {
  background-color: #d7b399;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 28px;
}
.btn-xs {
  padding: 8px 28px;
}
.btn-center {
  display: block;
  text-align: center;
  max-width: 168px;
  margin: 0 auto;
}

.main {
  display: flex;
  justify-content: space-between;
}
.main-item {
  flex: 0 0 50%;
}
.main .sale-discription {
  font-size: 30px;
  letter-spacing: -0.6px;
}
.main .sale-title {
  font-size: 55px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 60px;
}
.main .box {
  position: relative;
}
.main .box-prise {
  position: absolute;
  right: 0;
  text-align: right;
  top: 35px;
}
.main .box-prise-old {
  font-size: 24px;
  font-weight: 700;
}
.main .box-prise-new {
  font-size: 24px;
  font-weight: 700;
  color: #d84033;
  margin-top: 17px;
}
.main .box-image {
  width: 100%;
  max-width: 456px;
  height: 281px;
}

.notise {
  text-align: center;
  color: #fff;
  padding: 64px 0 54px;
}
.notise-title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
.notise-title span {
  font-weight: 700;
}
.notise-title-discription {
  font-size: 21px;
}

.arrow {
  width: 25px;
  height: 20px;
  padding-top: 10px;
}

.variety {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.variety-item {
  flex: 0 0 33.3%;
  padding: 50px 0;
  background-repeat: no-repeat;
  background-position: calc(100% - 50px) bottom;
  background-size: 150px 131px;
}
.variety-hybrid {
  background-image: url(../img/чг\ куст.jpg);
  margin-bottom: 15px;
}
.variety-mini {
  background-image: url(../img/mini.jpg);
  margin-bottom: 15px;
}
.variety-wattled {
  background-image: url(../img/плетистая.jpg);
  margin-bottom: 15px;
}
.variety-title {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}
.variety-discription {
  font-size: 16px;
  margin-bottom: 30px;
}

.img-product {
  height: 211px;
  width: 205px;
}

.product {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.product-title {
  font-weight: 600;
}
.product-price {
  color: #d7b399;
  font-size: 18px;
  font-weight: 700;
}