@charset "UTF-8";
.nav-bar {
  position: absolute;
  background-color: #d7b399;
  top: 0;
  right: 100%;
  height: 100vh;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: position 2.9s;
  -webkit-transition: position 2.9s;
  -moz-transition: position 2.9s;
  -ms-transition: position 2.9s;
  -o-transition: position 2.9s;
}

.toggle {
  left: 0;
  box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.toggle-menu {
  background-color: #671111;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 7px 12px;
  cursor: pointer;
}
@media (min-width: 993px) {
  .toggle-menu {
    display: none;
  }
}
@media (max-width: 500px) {
  .toggle-menu {
    width: 18px;
    height: 18px;
  }
}

.line {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
  background-color: #000000;
  transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line2 {
  display: none;
}

.toggle .line3 {
  background-color: #000000;
  transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.toggle .toggle-menu {
  background-color: white;
}

.nav-list {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
}

.nav-list-item {
  text-align: center;
  padding: 20px 0;
}

.nav-link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
  transform-origin: left;
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -ms-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

.title-h2 {
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .title-h2 {
    font-size: 28px;
  }
}

.btn {
  background-color: #d7b399;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 28px;
}
.btn-xs {
  padding: 8px 28px;
}
.btn-center {
  display: block;
  text-align: center;
  max-width: 168px;
  margin: 0 auto;
}

.main {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .main {
    flex-wrap: wrap;
  }
}
.main-item {
  flex: 0 0 50%;
}
@media (max-width: 992px) {
  .main-item {
    flex: 0 0 100%;
  }
}
@media (max-width: 992px) {
  .main .sale {
    text-align: center;
  }
}
.main .sale-discription {
  font-size: 30px;
  letter-spacing: -0.6px;
}
@media (max-width: 576px) {
  .main .sale-discription {
    font-size: 20px;
  }
}
.main .sale-title {
  font-size: 55px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 60px;
}
@media (max-width: 576px) {
  .main .sale-title {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 45px;
  }
}
.main .box {
  position: relative;
}
@media (max-width: 992px) {
  .main .box {
    max-width: 600px;
    margin: 50px auto 0;
  }
}
@media (max-width: 576px) {
  .main .box {
    max-width: 350px;
  }
}
.main .box-prise {
  position: absolute;
  right: 0;
  text-align: right;
  top: 35px;
}
.main .box-prise-old {
  color: #cbcfd4;
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 576px) {
  .main .box-prise-old {
    font-size: 14px;
  }
}
.main .box-prise-new {
  font-size: 24px;
  font-weight: 700;
  color: #d84033;
  margin-top: 17px;
}
@media (max-width: 576px) {
  .main .box-prise-new {
    font-size: 22px;
    margin-top: 4px;
  }
}
.main .box-image {
  width: 100%;
  max-width: 456px;
  height: 281px;
}
@media (max-width: 992px) {
  .main .box-image {
    min-width: 200px;
    margin: 50px auto 20px;
  }
}

.notise {
  text-align: center;
  color: #fff;
  padding: 64px 0 54px;
}
@media (max-width: 576px) {
  .notise {
    padding: 40px 0 42px;
  }
}
.notise-title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
@media (max-width: 576px) {
  .notise-title {
    font-size: 18px;
    line-height: 1.5;
  }
}
.notise-title span {
  font-weight: 700;
}
@media (max-width: 500px) {
  .notise-title span {
    display: block;
  }
}
.notise-title-discription {
  font-size: 21px;
}

.arrow {
  width: 25px;
  height: 20px;
  padding-top: 10px;
}

.variety {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
@media (max-width: 992px) {
  .variety {
    flex-wrap: wrap;
  }
}
.variety-item {
  flex: 0 0 33.3%;
  padding: 50px 0;
  background-repeat: no-repeat;
  background-position: calc(100% - 50px) bottom;
  background-size: 150px 131px;
}
@media (max-width: 992px) {
  .variety-item {
    flex: 0 0 100%;
  }
}
@media (max-width: 500px) {
  .variety-item {
    padding: 27px 0 84px;
    background-size: 153px 130px;
    background-position: 100% bottom;
  }
}
.variety-hybrid {
  background-image: url(../img/чг\ куст.jpg);
  margin-bottom: 15px;
}
.variety-mini {
  background-image: url(../img/mini.jpg);
  margin-bottom: 15px;
}
.variety-wattled {
  background-image: url(../img/плетистая.jpg);
  margin-bottom: 15px;
}
.variety-title {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .variety-title {
    font-size: 18px;
  }
}
.variety-discription {
  font-size: 16px;
  margin-bottom: 30px;
}

.img-product {
  height: 211px;
  width: 205px;
}

.product {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
@media (max-width: 992px) {
  .product {
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .product {
    margin-bottom: 50px;
  }
}
.product-item {
  flex: 0 0 24%;
  position: relative;
}
@media (max-width: 992px) {
  .product-item {
    flex: 0 0 49%;
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .product-item {
    flex: 0 0 100%;
  }
}
.product-title {
  font-weight: 600;
}
.product-price {
  color: #d7b399;
  font-size: 18px;
  font-weight: 700;
}