$accent: #d7b399;
$dark: #212121;
$light: #f9f6f1;
$gray: #cbcfd4;
$light-gray: #f4f4f4;
$dark-gray: #8d8d8d;
$important: #d84033;
body {
  font-family: "Montserrat", sans-serif;
}
.page {
  padding-top: 100px;
  padding-bottom: 100px;
  &-light {
    background-color: $light;
  }
  &-dark {
    background-color: $dark;
  }
}
.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 46px;
  padding-bottom: 26px;
}

.nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  &-item {
    margin-left: 52px;
  }
  &-link {
    color: $dark;
    text-decoration: none;
  }
}
.cart {
  background-image: url(../img/shape_1_15.png);
  padding-left: 45px;
  margin-left: 20px;
  display: block;
  width: 30px;
  height: 30px;

  background-repeat: no-repeat;
  background-position: 0 center;
  &-count {
    background-image: url(../img/white-arrow-22.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-color: $accent;
    color: #fff;
    font-size: 12px;
    font-weight: 700px;
    padding: 10px 24px;
    display: block;
  }
}
.btn {
  background-color: $accent;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 28px;
  &-xs {
    padding: 8px 28px;
  }
}
.main {
  display: flex;
  justify-content: space-between;
  &-item {
    flex: 0 0 50%;
  }
  .sale {
    &-discription {
      font-size: 30px;
      letter-spacing: -0.6px;
    }
    &-title {
      font-size: 55px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 30px;
      margin-bottom: 60px;
    }
  }
  .box {
    position: relative;
    &-prise {
      position: absolute;
      right: 0;
      text-align: right;
      top: 35px;
      &-old {
        font-size: 24px;
        font-weight: 700;
      }
      &-new {
        font-size: 24px;
        font-weight: 700;
        color: $important;
        margin-top: 17px;
      }
    }
    &-image {
      width: 456px;
      height: 281px;
    }
  }
}
.notise {
  text-align: center;
  color: #fff;
  padding: 50px 0;
  &-title {
    font-size: 30px;
    text-transform: uppercase;
    span {
      font-weight: 700;
    }
  }
}
.arrow {
  width: 25px;
  height: 20px;
}
.variety {
  display: flex;
  justify-content: space-between;

  &-item {
    flex: 0 0 33.3%;
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: calc(100% - 50px) bottom;
    background-size: 150px 131px;
  }
  &-hybrid {
    background-image: url(../img/чг\ куст.jpg);
  }
  &-mini {
    background-image: url(../img/mini.jpg);
  }
  &-wattled {
    background-image: url(../img/плетистая.jpg);
  }
  &-title {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
  }
  &-discription {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
