@import "variables";
@import "toggle";

.title-h2 {
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  @include breakpoint(xs) {
    font-size: 28px;
  }
}
.btn {
  background-color: $accent;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 28px;
  &-xs {
    padding: 8px 28px;
  }
  &-center {
    display: block;
    text-align: center;
    max-width: 168px;
    margin: 0 auto;
  }
}
.main {
  display: flex;
  justify-content: space-between;
  @include breakpoint(lg) {
    flex-wrap: wrap;
  }
  &-item {
    flex: 0 0 50%;
    @include breakpoint(lg) {
      flex: 0 0 100%;
    }
  }
  .sale {
    @include breakpoint(lg) {
      text-align: center;
    }
    &-discription {
      font-size: 30px;
      letter-spacing: -0.6px;
      @include breakpoint(sm) {
        font-size: 20px;
      }
    }
    &-title {
      font-size: 55px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 30px;
      margin-bottom: 60px;
      @include breakpoint(sm) {
        font-size: 28px;
        margin-top: 10px;
        margin-bottom: 45px;
      }
    }
  }
  .box {
    @include breakpoint(lg) {
      max-width: 600px;
      margin: 50px auto 0;
    }
    @include breakpoint(sm) {
      max-width: 350px;
    }
    position: relative;

    &-prise {
      position: absolute;
      right: 0;
      text-align: right;
      top: 35px;
      &-old {
        color: $gray;
        font-size: 24px;
        font-weight: 700;
        @include breakpoint(sm) {
          font-size: 14px;
        }
      }
      &-new {
        font-size: 24px;
        font-weight: 700;
        color: $important;
        margin-top: 17px;
        @include breakpoint(sm) {
          font-size: 22px;
          margin-top: 4px;
        }
      }
    }
    &-image {
      width: 100%;
      max-width: 456px;
      height: 281px;
      @include breakpoint(lg) {
        min-width: 200px;
        margin: 50px auto 20px;
      }
    }
  }
}
.notise {
  text-align: center;
  color: #fff;
  padding: 64px 0 54px;
  @include breakpoint(sm) {
    padding: 40px 0 42px;
  }
  &-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    @include breakpoint(sm) {
      font-size: 18px;
      line-height: 1.5;
    }
    span {
      font-weight: 700;
      @include breakpoint(xs) {
        display: block;
      }
    }
    &-discription {
      font-size: 21px;
    }
  }
}
.arrow {
  width: 25px;
  height: 20px;
  padding-top: 10px;
}
.variety {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  @include breakpoint(lg) {
    flex-wrap: wrap;
  }

  &-item {
    flex: 0 0 33.3%;
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: calc(100% - 50px) bottom;
    background-size: 150px 131px;
    @include breakpoint(lg) {
      flex: 0 0 100%;
    }
    @include breakpoint(xs) {
      padding: 27px 0 84px;
      background-size: 153px 130px;

      background-position: 100% bottom;
    }
  }
  &-hybrid {
    background-image: url(../img/чг\ куст.jpg);
    margin-bottom: 15px;
  }
  &-mini {
    background-image: url(../img/mini.jpg);
    margin-bottom: 15px;
  }
  &-wattled {
    background-image: url(../img/плетистая.jpg);
    margin-bottom: 15px;
  }
  &-title {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    @include breakpoint(xs) {
      font-size: 18px;
    }
  }
  &-discription {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
.img-product {
  height: 211px;
  width: 205px;
}
.product {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  @include breakpoint(lg) {
    flex-wrap: wrap;
  }
  @include breakpoint(xs) {
    margin-bottom: 50px;
  }
  &-item {
    flex: 0 0 24%;
    position: relative;
    @include breakpoint(lg) {
      flex: 0 0 49%;
      margin-bottom: 20px;
    }
    @include breakpoint(xs) {
      flex: 0 0 100%;
    }
  }
  &-title {
    font-weight: 600;
  }

  &-price {
    color: $accent;
    font-size: 18px;
    font-weight: 700;
  }
}
